@import url('https://fonts.googleapis.com/css2?family=Gaegu&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    border: none;
}

:root {
    --black: #333;
    --white: #f3f3f3;
}

a {
    text-decoration: none;
    color: var(--white);
}

input {
    background-color: transparent;
    border: 2px solid var(--white);
    color: var(--white);
    padding: 4px;
}

input:focus {
    outline: none;
}

body {
    background-color: #333;
    font-family: Gaegu, sans-serif;
    font-weight: 100;
    color: var(--white);
}

#intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85vmin;
    margin: 0 auto;
}

#buttons {
    display: flex;
}

#buttons > *:first-child {
    margin-right: 10px;
}

button {
    background-color: transparent;
    outline: none;
    color: var(--white);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: Gaegu, sans-serif;
    font-size: 2em;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border: 2px solid var(--white);
    padding: 2px 13px;
}

button:hover {
    background-color: var(--white);
    color: var(--black);
}

a:hover {
    text-shadow: 0px 1px 5px var(--white);
}

#result {
    height: 7vmin;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

#player-names {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-family: Gaegu, sans-serif;
    width: 85vmin;
    margin-top: 20px;
    margin-bottom: 20px;
}

#player-names span {
    display: flex;
    align-items: center;
    justify-content: center;
}

#p1-name {
    margin-right: 100px;
}

#player-names label{
    margin-right: 10px;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 85vmin;
    height: 85vmin;
    margin: 0 auto;
    transform: skew(0, -2deg);
}

.cell {
    border: 1px solid var(--white);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 5em;
    height: calc(85vmin / 3);
    width: calc(85vmin / 3);
}

.cell:first-child, .cell:nth-child(2), .cell:nth-child(3) {
    border-top-color: transparent;
}
.cell:first-child, .cell:nth-child(4), .cell:nth-child(7) {
    border-left-color: transparent;
}

.cell:last-child, .cell:nth-child(7), .cell:nth-child(8){
    border-bottom-color: transparent;
}

.cell:nth-child(3), .cell:nth-child(6), .cell:last-child{
    border-right-color: transparent;
}

.animate-move {
    animation: moving 2s ease-in-out;
}

@media (max-width: 1260px) {
    #intro {
        flex-direction: column;
    }
    #buttons {
        margin-top: 10px;
        margin-bottom: 20px;
    }
    #player-names {
        justify-content: space-evenly;
    }
    #player-names span {
        flex-direction: column;
    }
    #p1-name {
        margin-right: 0;
    }
}